body>div {
    width: 66vw;
    margin: 0 auto;
    border: thin solid pink;
}

section {
    background-color: rgba(200, 100, 30, .2);
}

section:nth-child(2) {
    background-color: rgba(200, 100, 30, .5);
}

section:last-child {
    background-color: rgba(200, 100, 30, .8);
}


img {
    width: 100px;
}